.ext-etheraddresslookup-link-highlight {
    padding: 2px;
    background: #F2EAAC;
    color: #000;
    border: 1px solid #C7BC67;
}

.ext-etheraddresslookup-link-no_highlight {
    padding: 0px;
    background: transparent;
    border: 1px solid transparent;
    color: inherit;
}

#ext-etheraddresslookup-popup {
    margin: 0;
    padding: 0px;
    font-family: "Arial";
    font-size: 12pt;
    width: 300px;
}
#ext-etheraddresslookup-popup #content {
    padding: 15px;
    margin-top: 15px;
}
#ext-etheraddresslookup-popup #content #footer {
    font-size: 70%;
}

#ext-etheraddresslookup-blacklist_domains_stats {
    font-size: 10pt;
    color: #c2c6c7;
    line-height: 10pt;
    padding-left: 3.5em;
}

#ext-etheraddresslookup-report {
	margin-bottom: 20px;
	padding: 8px 20px 8px 17px;
	margin-left: 10px;
	font-size: 10pt;
}