.ext-etheraddresslookup-link-highlight {
    padding: 2px;
    background: #F2EAAC;
    color: #000;
    border: 1px solid #C7BC67;
}

.ext-etheraddresslookup-link-no_highlight {
    padding: 0px;
    background: transparent;
    border: 1px solid transparent;
    color: inherit;
}

#ext-etheraddresslookup-popup {
    margin: 0;
    padding: 0px;
    font-family: "Arial";
    font-size: 12pt;
    width: 300px;
}
#ext-etheraddresslookup-popup #content {
    padding: 15px;
    margin-top: 15px;
}
#ext-etheraddresslookup-popup #content #footer {
    font-size: 70%;
}
