$main_background: #00c2c1;
$main_color: #fff;

$u_background: #fff;
$u_color: #000;

$error_background: #fff;
$error_color: #c2654c;

$warning_background: #ffe700;
$warning_color: #a98500;

$success_background: #49bd51;
$success_color: #fff;

body {
  background: $main_background;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  color: $main_color;
  font-weight: 600;

  .hide-me {
    display: none;
  }

  h3 {
    font-size: 23pt;
  }
}

.pure-g {
  margin-bottom: 5%;

  .setting-container {
    background: $u_background;
    color: $u_color;
    border: 2px solid darken($main_background, 5%);
    padding: 15px;

    p {
      font-size: 10pt;
      font-weight: 500;
      color: #717171;

      .label {
        font-weight: 700;
      }
    }
  }
}

.pure-table {
  width: 100%;
}

.ext-etheraddresslookup-note {
  color: #757575;
  font-style: italic;
  font-size: 10pt;

  &.ext-etheraddresslookup-history_good {
    margin: 5px;
    color: $main_color;
    background: $main_background;
    padding: 2px;
  }

  &.ext-etheraddresslookup-history_bad {
    margin: 5px;
    color: $main_color;
    background: $error_color;
    padding: 2px;
  }
}

#ext-etheraddresslookup-bookmark_modify_remove {
  font-size: 85%;
  background: rgb(202, 60, 60);
  color: #fff;
}

#donate_address {
  font-size: 80%;
  background: #fffdfd;
  padding: 2px;
  border: 1px solid #ffe4e4;
  color: #009d9c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.error {
  background: $error_background;
  padding: 2px;
  color: $error_color;
  border: 2px solid darken($error_color, 5%);
  text-align: center;
}

.warning {
  background: $warning_background;
  padding: 2px;
  color: $warning_color;
  border: 2px solid darken($warning_background, 1%);
  text-align: center;
}

.success {
  background: $success_background;
  padding: 2px;
  color: $success_color;
  border: 2px solid darken($success_background, 1%);
  text-align: center;
}

#ext-icon-whitelisted {
  display: inline-block;
  height: 25px;
  width: 25px;
}